<h1>Editing condominio</h1>

<%= render "form", condominio: @condominio %>

<br>

<div>
  <%= link_to "Show this condominio", @condominio %> |
  <%= link_to "Back to condominios", condominios_path %>
</div>
