<div id="<%= dom_id condomino %>">
  <p>
    <strong>Nome:</strong>
    <%= condomino.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= condomino.cpf %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= condomino.contato %>
  </p>

</div>
