<h1>Editing condomino</h1>

<%= render "form", condomino: @condomino %>

<br>

<div>
  <%= link_to "Show this condomino", @condomino %> |
  <%= link_to "Back to condominos", condominos_path %>
</div>
