<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome Funcionário:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= funcionario.cpf %>
  </p>

  <p>
    <strong>Função:</strong>
    <%= funcionario.funcao %>
  </p>

</div>
